.resource-calculation {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.resource-calculation--title {
  margin-bottom: 10px;
}

.resource-calculation--detail-item {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.resource-calculation--detail-item.sufficient {
  background-color: #ecf6d6; /* Pale green */
}

.resource-calculation--detail-item.insufficient {
  background-color: #feebeb; /* Pale red */
}

.resource-calculation--detail-item.exact {
  background-color: #e6e6e6; /* Light gray */
}

.status-message {
  display: inline-block;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0.5rem;
  color: #666;
}

.resource-calculation--success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  background-color: #e6ffe6;
  border-radius: 5px;
}
