.App {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 100rem;
}

section {
  margin: 4rem 0;
}

.section-seperator {
  opacity: 0.1;
  margin: 4rem 0;
}

.selectionBox {
  display: none;
  margin: 1rem;
}

.inputField {
  padding: 1rem;
  border-radius: 8px;
  border: none;
}

.selected {
  opacity: 1 !important;
}
