.App {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 100rem;
}

section {
  margin: 4rem 0;
}

button {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 6px;
  border: 1px solid var(--Colour-Accent, #fcff58);
  background: var(--Colour-Dark-Background, #484139);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25),
    0px 4px 28px 0px rgba(0, 0, 0, 0.25);

  color: var(--Colour-Accent, #fcff58);

  /* Button/Small Button Text */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
  cursor: pointer;
}

.section-seperator {
  opacity: 0.1;
  margin: 4rem 0;
}

.selectionBox {
  display: none;
  margin: 1rem;
}

.inputField {
  padding: 1rem;
  border-radius: 8px;
  border: none;
}

.selected {
  opacity: 1 !important;
}
